.header {

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-blue;
        width: auto;
        height: 15rem;
    }

    &__name {
        color: $white;   
        text-align: center; 
        font-size: 3rem;

        @include phone {
            font-size: 2rem;
        }
    }
}