.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white-2;

    &__order {
        padding-top: 1rem;
    }

    &__crescent, &__descending, &__button {
        background: none;
        border: 2px solid $black;
        border-radius: .5rem;
        color: $black;
        padding: .5rem;
        font-size: 12pt;
        cursor: pointer;

        &:hover {
            background-color: $white;
            color: $black;
            transition: all 1s linear;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding-top: 2rem;
        place-items: center;
        text-transform: capitalize;

        @include phone {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__projects {
        padding: 1rem;
    }

    a {
        text-decoration: none;
        color: $white; 
        font-size: 13pt; 
        font-weight: bold;
    }

    &__img {
        width: 25vw;
        height: auto;
        border: 1px solid $dark-blue;
        border-radius: .6rem;
        box-shadow: 2px 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
        transition: all .2s ease-in-out;
        position:relative;
        top: 0;
        padding: 4px;
        transition: all .2s ease-in-out;

        &:hover {
            top:-4px;box-shadow:0 4px 3px #999;
        }

        @include phone {
            width: 35vw;
        }
    }

    &__name {
        color: $black;
    }

    &__button_see-more {
        padding: 1rem;
    }
}