@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

$white: #F2F4F3;
$brown: #471CEB;
$blue: #63b9f2bc;
$light-blue: #2e53e688;

@mixin phone {
    @media (min-width: 315px) and (max-width: 540px) { @content; }
}

@import 'header', 'main', 'footer';